<!DOCTYPE html>
<!-- To change this license header, choose License Headers in Project Properties. To change this template file, choose Tools | Templates and open the template in the editor. -->
<div ng-controller="choiceCtrl">
<div class="form-group" >

    <div class="checkbox" ng-repeat="item in options track by $index">
        <label>
            <input type="checkbox"/> 
            <div contenteditable="true">
                <input  ng-model="option" name="{{item}}"  id="helptext" placeholder="add an option"/>
            </div>
        </label>

    </div>
</div>
<div class="form-group">
    <button type="submit" ng-click="addOption()" class="btn btn-sm btn-info">Submit</button>
</div>
</div>
